header{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    background-color: #5DADE2 ;
    color: beige;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}
h2{
    text-align: center;
    margin:25px;
}
form{
    border-radius: 10px;
    margin:25px
}
div.contenedorForm{
    color: beige;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #5DADE2;
}
label{
    margin-top: 15px;
}
div.contenedor1{
    display: flex;
    width: 100%;
}
section.contIzq{

    width:60%;
    margin:5px;
    border-radius: 10px;
    background-color: #5DADE2;
}
section.contDer{
    width:40%;
    margin:5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #5DADE2;
    color: beige;

}
h2.listaParaEmpleado{
    margin: 25px;
    color: beige;
}
li.list-group-item{
   margin: 6px;
   color: beige;
   background-color: #a8acc486;
   border-radius: 10px;
   border-style: solid;
  
}
article.col{
    color: beige;
    background-color: #5DADE2;
    border-radius: 10px;
    border-style: solid;
    border-color: #07042b86;
}
h3{
   text-align: center;
   margin: 5px;
}
img {
    margin: 5px;
    text-align: center;

    
}
section.contadores{
    border-radius: 10px;
    border-width: 2px;
    background-color: #5DADE2;
    margin-bottom: 15px ;
    color: beige;
    border-style: solid;
}
footer{
    margin-top:10px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}