@include color-mode(dark) {

header{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center; 
    background-color: bisque;   
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    }
    
    .div1 { 
grid-area: 1 / 1 / 6 / 4; 
background-color: aqua;
}
    .div2 { 
grid-area: 1 / 4 / 6 / 6; 
background-color: brown;
}
}